<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>app-store</string>
  <key>signingStyle</key>
  <string>automatic</string>
  <key>manageAppVersionAndBuildNumber</key>
  <true/>
  <key>uploadBitcode</key>
  <false/>
  <key>uploadSymbols</key>
  <true/>
  <key>provisioningProfiles</key>
  <dict>
    <key>com.creatorcoreforge.audio</key>
    <string>match AppStore com.creatorcoreforge.audio</string>
    <key>com.creatorcoreforge.visual</key>
    <string>match AppStore com.creatorcoreforge.visual</string>
    <key>com.creatorcoreforge.writer</key>
    <string>match AppStore com.creatorcoreforge.writer</string>
  </dict>
</dict>
</plist>
